@import "bootstrap";

$light-color: #7d6b7e;
$highlight-color: #905251;
$link-color: $highlight-color;

$white-color: #fcf4f2;
$black-color: #150d12;


html, body {
    min-height: calc(100vh - 10px);
}

body {
    border-top: 5px solid $highlight-color;
    border-bottom: 5px solid $highlight-color;

    font-family: "Quattrocento", serif;
    font-size: 1.8em;

    background-color: #FCFCFC;
    background: url('/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
}


header {
    margin-bottom: 2em;
    
    h1 {
        font-family: "Fredericka the Great", cursive;
        font-variant: small-caps;
        font-size: 2em;

        margin: 0;
    }
}


nav {
    font-family: "Roboto", sans-serif;


    ul {
        padding: 0;

        li {
            list-style: none;
            display: inline;
        }

        li:after {
            content: "\2022\0020";
            color: $light-color;
        }

        li:last-child:after { content: none; }
    }
    ul:before {
        content: "\2039";
        color: $light-color;
    }

    ul:after {
        content: "\203A";
        color: $light-color;
    }

    a { text-decoration: none; }

    .nav-active { font-weight: bold; }
}

svg {
    .logo-circle {
        fill: $highlight-color;
    }

    .logo-circle-border {
        fill: $light-color;
        opacity: 0.5;
    }

    .logo-letter {
        font-family: "Fredericka the Great", cursive;
        fill: $white-color;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    color: $black-color;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.1em;
	color: $highlight-color;
}

.entry-text {
    margin-top: 1em;

	h2, h3, h4, h5, h6 {
		font-size: 1.1em;
		color: $highlight-color;
		
		margin-top: 2em;
	}

	a {
		border-bottom: 1px dotted lighten($link-color, 20%);
	}
}


time {
    font-family: "Roboto", sans-serif;
    font-size: .8em;
    line-height: 1em;
    
    color: $light-color;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: lighten($link-color, 20%);
    text-decoration: none;
}


footer {
    border-top: 1px solid $light-color;
    margin-top: 2em;
    padding-top: 1em;


    font-family: "Roboto", sans-serif;
    font-size: .8em;

    ul {
        padding: 0;

        li {
            list-style: none;
            display: inline;

        }

        li:after {
            content: "\2022\0020";
            color: $light-color;
        }

        li:last-child:after { content: none; }
    }

    .copyright {
        color: $light-color;

        a {
            color: $light-color;
            text-decoration: none;
            border-bottom: 1px dotted $light-color;
        }

        a:hover {
            color: $link-color;
            border-bottom: 1px dotted $link-color;
        }
    }
}

.modified-date {
    font-style: italic;
    font-size: .8em;
    
    color: $light-color;
}

blockquote {
    border-left: 4px solid $highlight-color;
    background-color: rgba($light-color, 0.05);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.img-thumb {
    max-height: 25vh;
    max-width: 25vw;

    margin: 1em;

    border-radius: 1em;
    box-shadow: 4px 4px rgba($light-color, 0.5);
}

table {
	margin: 2rem 0;
    width: 100%;
    
    th {
		font-size: 1.7rem; 
    }
}
