			</div><!-- /col-md-8 -->
			
			<footer class="offset-md-3 col-md-6 text-center">
				<nav>
					<ul>
						<li><a href="mailto:{{ .Site.Params.email }}" target="_blank">Email</a></li>

					{{ range .Site.Menus.footer }}
						<li><a href="{{.URL}}">{{ .Name }}</a></li>
					{{ end }}
					</ul>
				</nav>
				
				<div class="copyright">
					<!--
					Copyright &copy; {{ .Site.Params.createdate }} &ndash; {{ .Site.Params.currentdate }} 
					by <a rel="author" href='/contact'>{{ .Site.Params.author }}</a>. <em><a href="/license">Some rights reserved</a></em>.<br><br>
					
					Last Updated on <span title="{{ .Site.Data.git.date }}">{{ .Site.Data.git.prettydate }}</span><br>
					<a href="https://github.com/keithieopia/keithieopia.com">{{ .Site.Data.git.tag }}</a>
					-->
					Content <a href="/license" title="Creative Commons Attribution 4.0 International (CC BY 4.0)"><i class="fab fa-creative-commons"></i></a> 
					<a rel="author" href='/contact'>{{ .Site.Params.author }}</a><br>

					Last Updated on <span title="{{ .Site.Data.git.date }}">{{ .Site.Data.git.prettydate }}</span><br><br>
					
					<i class="fas fa-code-branch" title="current git revision"></i> 
					<a href="{{ .Site.Params.source }}">{{ .Site.Data.git.tag }}</a>

				</div>
			</footer>
			
			
		</div><!-- /container -->
			
		{{ partial "footer/scripts.html" . }}
    </body>
</html>




