html, body {
  min-height: calc(100vh - 10px); }

body {
  border-top: 5px solid #f5a991;
  border-bottom: 5px solid #f5a991;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5em;
  color: #454545;
  padding-top: 2em; }

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: normal;
  font-style: italic;
  margin: 1.5em 0; }

.small-caps {
  font-variant-caps: small-caps; }

a, a:visited {
  color: #ea4e1c;
  text-decoration: none;
  transition: text-shadow 0.2s linear; }

a:hover {
  color: #ea4e1c;
  text-decoration: none;
  text-shadow: 0 0 10px #f5a991; }

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(245, 169, 145, 0), rgba(245, 169, 145, 0.75), rgba(245, 169, 145, 0)); }

blockquote {
  border-left: 4px solid #f5a991;
  padding-left: 1em;
  font-style: italic;
  color: #525252; }

#entry-list {
  margin-bottom: 1em; }
  #entry-list h1 {
    font-size: 1em;
    font-style: normal;
    margin: 0; }
  #entry-list time {
    font-size: .8em;
    font-style: italic; }

#entry-list:first-of-type {
  margin-top: 1.5em; }

article header {
  margin-bottom: 1.5em; }
  article header h1, article header h2, article header h3, article header h4, article header h5, article header h6, article header h7 {
    margin-bottom: 0; }
  article header a, article header a:hover, article header a:visited {
    color: #454545;
    text-shadow: none; }
  article header time {
    font-style: italic; }
  article header time::after {
    display: block;
    content: "\A\2766"; }

article hr {
  margin: 4em .5em; }

article img {
  float: right;
  max-width: 50%;
  margin: .5em -25% .5em 1em;
  border-radius: .5em; }

article table {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: .5em; }
  article table th, article table td {
    padding: .5em 1em; }
  article table thead {
    border-bottom: 1px solid #FFF; }
  article table tbody td {
    border-left: 1px dotted #FFF;
    border-right: 1px dotted #FFF; }
  article table tbody td:first-child {
    border-left: 0; }
  article table tbody td:last-child {
    border-right: 0; }
  article table .cite {
    caption-side: bottom;
    text-align: right;
    font-family: sans;
    font-style: italic;
    font-size: .6em;
    margin-right: 1em;
    padding: 0; }
  article table .cite::before {
    content: "source: "; }
  article table img {
    float: none;
    margin: 0; }

footer {
  margin-top: 4em;
  padding: 1em;
  border-top: 2px solid #f5a991;
  font-family: sans;
  color: #858585;
  padding: 1em; }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline-block; }
    footer ul li:after {
      content: "\00A0\26AC";
      color: #858585;
      padding: 0 .5em; }
    footer ul li:last-child:after {
      content: none; }
  footer .copyright {
    margin-top: 2em;
    font-size: .75em; }

.logo-border {
  fill: #f5a991;
  opacity: 0.5; }

.logo-body {
  fill: #f5a991; }

.logo-letter {
  fill: white; }

nav {
  font-family: "Roboto", sans-serif;
  font-size: .8em; }
  nav ul {
    list-style-type: none;
    padding: 0; }
  nav ul:before {
    content: "\2039";
    color: #858585; }
  nav ul:after {
    content: "\203A";
    color: #858585; }
  nav li {
    display: inline; }
  nav li:after {
    content: "\2022\0020";
    color: #858585; }
  nav li:last-child:after {
    content: none; }
  nav .active {
    font-weight: bold; }
