/*
  Color Palette
  -----------------------
  Peru            #d97e4c
  Dark Slate Gray #1b242d
  Dim Gray        #4f4a42
  Rosy Brown      #9b7762
  Gainsboro       #dcdbda
*/

$orange: #d97e4c;
$white:  #dcdbda;
$black:  #1b242d;
$brown:  #4f4a42;
$tan:    #9b7762;

$highlight-color: $orange;
$text-color: $black;
$link-color: $orange;
$link-glow: lighten($link-color, 10%);
$symbol-color: $tan;
$fineprint-color: $tan;



html, body {
    min-height: calc(100vh - 10px);
}

body {
	border-top: 5px solid $highlight-color;
	border-bottom: 5px solid $highlight-color;

	background: url("../img/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.5em;
	
	color: $text-color;
	
	padding-top: 2em;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: normal;
	font-style: italic;
	
	margin: 1.5em 0;
}

.small-caps {
  font-variant-caps: small-caps;

}

a, a:visited {
	color: $link-color;
	text-decoration: none;

	transition: text-shadow 0.2s linear;
}

a:hover {
	color: $link-color;
	text-decoration: none;
	text-shadow: 0 0 10px $link-glow;
}

hr {
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba($link-glow, 0), rgba($link-glow, 0.75), rgba($link-glow, 0));
}

blockquote {
	border-left: 4px solid $link-glow;
	padding-left: 1em;
	
	font-style: italic;
	color: lighten($text-color, 5%);
}

#entry-list {
	margin-bottom: 1em;
	
	h1 {
		font-size: 1em;
		font-style: normal;
		margin: 0;
	}
	
	time {
		font-size: .8em;
		font-style: italic;
	}
}

#entry-list:first-of-type {
	margin-top: 1.5em;
}

article {
	
	header {
		margin-bottom: 1.5em;
	
		h1, h2, h3, h4, h5, h6, h7 {
			margin-bottom: 0;
		}
	
		a, a:hover, a:visited {
			color: $text-color;
			text-shadow: none;
		}

		time {
			font-style: italic;
		}
		
		time::after {
			display: block;
			content: "\A\2766"; // newline and ❦
		}
	}
	

	hr {
		margin: 4em .5em;
	}

	img {
		float: right;
		max-width: 50%;
		
		margin: .5em -25% .5em 1em;

		border-radius: .5em;
		//box-shadow: 0 0 1em .1em $text-color;
	}
	
	table {
		background-color: rgba(#FFF, .25);
		border-radius: .5em;

		th, td {
			padding: .5em 1em;
		}
		
		thead {
			border-bottom: 1px solid #FFF;
		}
		
		tbody {
			td {
				border-left: 1px dotted #FFF;
				border-right: 1px dotted #FFF;
			}

			td:first-child {
				border-left: 0;
			}
			
			td:last-child {
				border-right: 0;
			}
		}
		
		.cite {
			caption-side: bottom;
			text-align: right;
			
			font-family: sans;
			font-style: italic;
			font-size: .6em;
			
			margin-right: 1em;
			padding: 0;
		}
		
		.cite::before {
			content: "source: ";
		}
		
		img {
			float: none;
			margin: 0;
		}
	}
		
}

.logo {
    width: 80px;
    height: 80px;
    
    box-shadow: 0 0 0 5px rgba($highlight-color, 0.5); 
    border-radius: 80px;
    
    font-size: 80px;
    color: $white;
    line-height: 80px;
    text-align: center;
    background: $highlight-color;
    
    margin: 0 auto .5em auto;
}

footer {
	margin-top: 4em;
	padding: 1em;
	border-top: 2px solid $highlight-color;

	font-family: "Roboto", sans-serif;
	color: $fineprint-color;
	
	.copyright {
		margin-top: 2em;
		font-size: .6em;
	}
}

.menu {
	font-family: "Roboto", sans-serif;
	font-size: .8em;
	
	ul {
	    list-style-type: none;
	    padding: 0;
	}

	ul:before {
		content: "\2039";
		color: $symbol-color; 
    }
    
	ul:after {
		content: "\203A";
		color: $symbol-color; 
    }
	
	li {
		display: inline;
	}
	
	li:after {
		content: "\2022\0020";
		color: $symbol-color; 
    }
	
	li:last-child:after {
		content: none; 
	}
	
	.active {
		font-weight: bold;
	}
}
