/*
  Color Palette
  -----------------------
  Peru            #d97e4c
  Dark Slate Gray #1b242d
  Dim Gray        #4f4a42
  Rosy Brown      #9b7762
  Gainsboro       #dcdbda
*/

$orange: #d97e4c;
$white:  #dcdbda;
$black:  #1b242d;
$brown:  #4f4a42;
$tan:    #9b7762;


$fineprint-color: $tan;



// Sakura 
$color-text: $black;
$font-size-base: 2.5rem;

$color-blossom: lighten($orange, 10%);
$color-fade: $orange;

$color-bg: $white;
$color-bg-alt: $tan;

@import '../../../../node_modules/normalize.scss/normalize';
@import '../../../../node_modules/sakura.css/scss/_main.scss';

html {
	border-top: 5px solid $color-fade;
	border-bottom: 5px solid $color-fade;
	
    min-height: calc(100vh - 10px);
}

body {
	background: url("../img/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	
	font-family: 'Cormorant Garamond', serif;
}

#wrapper {
	position: relative;
}

header {
	text-align: center;	
	margin: 1em 0;
	
	border-bottom: 1px dotted $color-bg-alt;
}

.logo {
    width: 80px;
    height: 80px;
    
    box-shadow: 0 0 0 5px rgba($color-fade, 0.5); 
    border-radius: 80px;
    
    line-height: 80px;
    font-size: 80px;
    color: $color-bg;

    background: $color-fade;
    
    margin: 0 auto;
    font-family: 'Cormorant Garamond', serif;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'Cormorant Garamond', serif;
	font-weight: normal;
}

ul {
	list-style-type: square;
	color: $color-bg-alt;
}

nav {
	font-family: "Roboto", sans-serif;

	ul {
	    list-style-type: none;
	    padding: 0;
	}

	ul:before {
		content: "\2039";
		color: $color-bg-alt; 
    }
    
	ul:after {
		content: "\203A";
		color: $color-bg-alt; 
    }
	
	li {
		display: inline;
	}
	
	li:after {
		content: "\2022\0020";
		color: $color-bg-alt; 
    }
	
	li:last-child:after {
		content: none; 
	}
	
	.active {
		font-weight: bold;
	}
}

time {
	font-style: italic;
}

a, a:visited {
	color: $color-fade;
	text-decoration: none;

	transition: text-shadow 0.2s linear;
}

a:hover {
	color: $color-blossom;
	text-decoration: none;
	text-shadow: 0 0 10px lighten($color-blossom, 10%);
	border-bottom: 1px dotted $color-blossom;
}

caption {
	caption-side: bottom;
	text-align: right;
			
	font-family: sans;
	font-size: 1.5rem;
}
		
caption::before {
	content: "source: ";
}


article {
	img {
		float: right;
		max-width: 50%;
		
		margin: 1rem;

		//border-radius: .5em;
		border: 1px solid $color-blossom;
		box-shadow: 0 0 1rem .5rem lighten($color-blossom, 10%);
	}
	
	table {
		img {
			float: none;
			margin: 0;
		}
	}
	
	.no-border {
		border: 0;
		box-shadow: unset;
	}
	
	header {
		border-bottom: none;
	}
}

blockquote {
	background-color: rgba($color-bg-alt, .1);
	padding: .1em 1em .1em 1em;
}

code {
	display: block;
	white-space: normal;
	font-family: monospace;
	
	background-color: rgba($color-bg-alt, .5);
	border-left: 3px solid $color-blossom;
	margin-left: 1.5em;
}

.shell::before {
	content: '$ ';
	color: $color-blossom;
	font-weight: bold;
}

.mono {
	font-family: monospace;
	font-size: 1.8rem;
}

.center { text-align: center; }
.right { text-align: right; }

footer {
	font-family: "Roboto", sans-serif;
	
	
	border-top: 1px dotted $color-bg-alt;
	
	
	.row {
		display: table;
		width: 100%;
	}
	
	.left, .right {
		display: table-cell;
	}

	.small {
		font-size: 1.5rem;
		margin-bottom: 1em;
		color: $color-bg-alt; 
	}
	
	.urls {
		font-variant: small-caps;
		font-size: 1.2rem;
	}
}

hr {
	clear: both;
	border-style: dotted;
	margin: 1.5em;
}
