---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$font-body:       'PT Serif', Georgia, Times, 'Times New Roman', serif;
$font-monospace:  'Hack', Inconsolata, monospace;
$font-header:     'Raleway';

$font-size:         12pt;
$small-font-size:   $font-size * 0.875;
$base-line-height:  1.5;

$bg-color:              #181818;
$article-bg-color:      #1B1B1B;
$article-border-color:  darken($article-bg-color, 2%); // #161616;

$highlight-color:         #01DFD7;
$highlight-color-darker:  darken($highlight-color, 6%);
$highlight-color-light:   lighten($highlight-color, 25%);

$text-color:         #BBBBBB;
$text-color-darker:  darken($text-color, 50%);

$footer-header-color:   #FFFFFF;
$footer-text-color:     $text-color;

$link-color:         $highlight-color;
$link-hover-color:   lighten($highlight-color, 25%);
$link-hover-shadow:  rgba($link-color, 0.25);


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "syntax-highlighting"
;
