{{ partial "header.html" . }}

	<main role="main">
{{ range (where .Data.Pages ".Params.hidefromhome" "!=" "true") }}
		<article>
			<h2 class="entry-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
			<span class="entry-meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
		</article>
{{ end }}
		<div class="row text-right modified-date">
			Site Last Updated: 
			<span title="{{ .Site.Data.git.date }}">{{ .Site.Data.git.prettydate }}</span>
		</div>
	</main>

{{ partial "footer.html" . }}
