/* Box Layout for all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

html, body { height: 100%; }


header {
    height: 100px;
}

nav {
    height: 64px;
}

#wrapper {
    min-height: 100%;
    margin: 0 auto -100px;
}

#content {
    display: table;

    width: 80%;
    min-width: 800px;
}

main {
    display: table-cell;
    vertical-align: top;
}

#content aside {
    display: table-cell;
    vertical-align: top;

    width: 350px;
    min-width: 350px;
}

footer, .push {
    height: 100px;
}
