#random-quote {
    padding: 15px 10px;
}

.quote-content {
    text-align: center;
}

.quote-author {
    padding-top: 10px;
        
    text-align: right;
    font-size: .8em;
}

.quote-author:before {
    content: '—';
    padding-right: 5px;
}

.quote-source {
    text-align: right;
    font-size: .8em;
    font-style: italic;
}
