			</div><!-- /col-md-8 -->
			
			
			<footer class="offset-md-2 col-md-8">
				
				<div class="row">
					<div class="col-md-6">
							<nav class="menu">
								<ul>
								{{ range .Site.Menus.footer }}
									<li>
										<a href="{{.URL}}">{{ .Name }}</a>
									</li>
								{{ end }}
								</ul>
							</nav>
					</div>
					<div class="col-md-6 text-right">
							{{ range .Site.Menus.icons }}
								<a href="{{ .URL }}" title="{{ .Title }}">
									<i class="fab fa-{{ .Name }}"></i>
								</a>
							{{ end }}
					</div>
				</div>
				
				<div class="copyright text-center">
					Content <a href="/license" rel="license" title="Creative Commons Attribution 4.0 International (CC BY 4.0)"><i class="fab fa-creative-commons"></i></a> 
					<a rel="author" href='/contact'>{{ .Site.Params.author }}</a><br>

					Last Updated on <span title="{{ .Site.Data.git.date }}">{{ .Site.Data.git.prettydate }}</span><br><br>
					
					<i class="fas fa-code-branch" title="current git revision"></i> 
					<a href="{{ .Site.Params.source }}">{{ .Site.Data.git.tag }}</a>

				</div>
				

			</footer>
			
			
		</div><!-- /container -->
			
		{{ partial "scripts.html" . }}
    </body>
</html>




