			<footer>
				<div class="row links">
					<nav>
						<ul>
						{{ range .Site.Menus.footer }}
							<li>
							<a href="{{.URL}}">{{ .Name }}</a>
							</li>
						{{ end }}
						</ul>
					</nav>
				
					<div class="right">
						{{ range .Site.Params.social }}
						<a href="{{ index . 2 }}" title="{{ index . 0 }}">
							<i class="fab fa-{{ index . 1 }}"></i>
						</a>
						{{ end }}
					</div>
				</div>

				<div class="row small center">
					Content <a href="/license" rel="license" title="Creative Commons Attribution 4.0 International (CC BY 4.0)"><i class="fab fa-creative-commons"></i></a> 
					<a rel="author" href='/contact'>{{ .Site.Params.author }}</a><br>
				</div>
				
				<div class="row small center">
					Last Updated on <span title="{{ .Site.Data.git.date }}">{{ .Site.Data.git.prettydate }}</span><br>
							
					<i class="fas fa-code-branch" title="current git revision"></i> 
					<a href="{{ .Site.Params.source }}">{{ .Site.Data.git.tag }}</a>
				</div>
				
				<div class="row small center urls">
					Website accessible via:
					<a href="http://keithieopia.com">HTTP</a>, 
					<a href="https://keithieopia.com">HTTPS</a>, and 
					<a href="http://keith4g2hdg6dzsvjtra3c5pyclcwpam2o5tvjx2tm44tjj7nkhyakyd.onion">TOR</a>
				</div>
			</footer>
    </body>
</html>
